<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Buy the latest and greatest unfinished titles!</h1>
            <p class="lead fw-normal text-white-50 mb-0">You keep buying so they keep releasing!</p>
        <div>
            <h1 class="display-4 fw-bolder">Getting destroyed in your favorite game?</h1>
            <p class="lead fw-normal text-white-50 mb-0">Get mom's credit card ready because you too can even the odds!</p>
        </div>
            <h1 class="display-4 fw-bolder">Not playing that old game you bought for 59.99$ last year?</h1>
            <p class="lead fw-normal text-white-50 mb-0">Best I can do is .50 cents</p>
        </div>
    </div>
  </header>
  <html>
    <head>
    <style>
    </style>
    </head>
    <body>
    <div class="gallery">
      <a target="_blank" href="">
        <img src="assets/fmyshtupfam.jpg" width="600" height="400">
      </a>
      <div class="desc">Pay To Win</div>
    </div>
    
    <div class="gallery">
      <a target="_blank" href="">
        <img src="assets/glitch.jpg" width="600" height="400">
      </a>
      <div class="desc">Tripple AAA Gaming</div>
    </div>
    
    <div class="gallery">
      <a target="_blank" href="">
        <img src="/assets/pawnstars.jpg"  width="600" height="400">
      </a>
      <div class="desc">Trade-in "Deals"</div>
    </div>
    
    </body>
    </html>