<div class="login">
    <div class="login-triangle"></div>
    
    <h2 class="login-header">Register</h2>
  
    <form class="login-container">
      
      <p><input type="fname" placeholder="First Name"></p>
      <p><input type="lname" placeholder="Last Name"></p>
      <p><input type="email" placeholder="email"></p>
      <p><input type="text" placeholder="Address"></p>
      <p><input type="password" placeholder="Password"></p>
      <p><input type="password" placeholder="Confirm Password"></p>

      <p><input type="submit" value="Sign Up"></p>
    </form>
  </div>
  